<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <link href="/webjars/bootstrap/3.3.7/css/bootstrap.css"
          type="text/css" rel="stylesheet" media="screen,projection"/>
    <link rel="stylesheet" href="/webjars/jquery-ui/1.12.1/jquery-ui.css"/>
    <link th:href="@{/css/main.css}"/>
    <link th:href="@{/css/navbar-fixed-top.css}"/>
    <title>Default Title</title>
</head>

<body sec:authorize="isAuthenticated()">

<div layout:fragment="nav"></div>

<div class="container-fluid">
    <div layout:fragment="content"></div>
</div>

<footer class="footer">
    <div class="container">
        <p class="text-muted">Saglo App</p>
    </div>
</footer>

<script src="/webjars/jquery/2.1.4/jquery.js"></script>
<script src="/webjars/jquery-ui/1.12.1/jquery-ui.js"></script>
<script th:src="@{/js/default.js}" type="application/javascript"></script>
<script src="/webjars/bootstrap/3.3.7/js/bootstrap.js"></script>
<div layout:fragment="script"></div>
</body>
</html>