<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default-admin">
<head>
    <meta charset="UTF-8"/>
    <title>Saglo - Admin - Aprobar</title>
</head>
<body>

<div layout:fragment="content">
    <div th:replace="alerta :: alert (mensaje=${mensaje})">...</div>
    <div class="row" >
        <form th:action="@{/admin/locales/solicitud/aprobar}"
              th:object="${solicitudArea}"
              method="post" id="registrarForm">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Aprobar Solicitud <label class="control-label"></label>
                        </h3>
                    </div>

                    <div class="panel-body">
                        <div class="form-horizontal" role="form" id="solicitudAreaFragment">
                                <div class="form-group">
                                    <div class="col-md-3 col-xs-12">
                                        <label class="control-label">Area Comun</label>
                                        <p th:text="${solicitudArea.areacomunNombre}">Piscina</p>
                                        <input type="hidden" th:field="${solicitudArea.id}"></input>
                                        <input type="hidden" th:field="${solicitudArea.areacomunNombre}"/>
                                    </div>
                                    <div class="col-md-3 col-xs-12">
                                        <label class="control-label">Fecha Solicitud</label>
                                        <p th:text="${solicitudArea.fechaSolicitud}">10/12/2018</p>
                                        <input type="hidden" th:field="${solicitudArea.fechaSolicitud}"/>

                                    </div>
                                    <div class="col-md-3 col-xs-12">
                                        <label class="control-label">Inquilino</label>
                                        <p th:text="${solicitudArea.inquilinoNombre}">Juan Perez</p>
                                        <input type="hidden" th:field="${solicitudArea.inquilinoNombre}"/>

                                    </div>
                                    <div class="col-md-3 col-xs-12">
                                        <label class="control-label">Mobiliario</label>
                                        <p th:text="${solicitudArea.mobiliarioNombre}">Villa C apto 1</p>
                                        <input type="hidden" th:field="${solicitudArea.mobiliarioNombre}"/>

                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12 col-xs-12">
                                        <label class="control-label">Comentario</label>
                                        <textarea  th:text="${solicitudArea.descripcion}" disabled="disabled" class="form-control" rows="5"
                                                  type="text" name="comentario"></textarea>
                                        <input type="hidden" th:field="${solicitudArea.descripcion}"/>

                                    </div>
                                </div>

                        </div>
                    </div>
                    <div class="panel-footer">
                        <div class="form-horizontal text-right text-right">
                            <button type="submit" name="rechazar"
                                    class="btn btn-danger">
                                <span>Rechazar</span>
                            </button>
                            <button id="aprobarSolicitud" type="submit" name="aprobar"
                                    class="btn btn-success">
                                <span class="fa fa-save"></span>
                                <span>Aprobar</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div layout:fragment="script">
    <script th:src="@{/js/admin/aprobar.js}" type="application/javascript"></script>
</div>

</body>
</html>