<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default-inquilino">
<head>
    <meta charset="UTF-8"/>
    <title>Saglo - Inquilino - Solicitud Area Comun</title>
</head>
<body>

<div layout:fragment="content">
    <div th:replace="alerta :: alert (mensaje=${mensaje})">...</div>
    <div class="row">
        <form th:action="@{/inquilino/solicitudes/areacomun}"
              th:object="${form}"
              method="post" id="registrarForm">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Solicitud Area Comun <label class="control-label"></label>
                        </h3>
                    </div>

                    <div class="panel-body">
                        <div class="form-horizontal" role="form" id="solicitudAreaFragment">
                            <th:block th:fragment="solicitudAreaFragment">
                                <div class="form-group">
                                    <div class="col-md-6 col-xs-12">
                                        <label class="control-label">Area Comun</label>
                                        <input class="form-control autocomplete" th:field="${form.areaComun.nombre}" type="text" id="areacomunautocomplete"/>
                                    </div>
                                    <div class="col-md-3 col-xs-12">
                                        <label class="control-label">Fecha Solicitud</label>
                                        <input th:type="hidden" th:field="${form.areaComun.codigo}" id="form_areaComun_codigo" />
                                        <input type="text" class="form-control fechas" th:field="${form.fechaSolicitud}" id="fechaSolicitud"/>
                                    </div>

                                    <div class="col-md-3 col-xs-12">
                                        <label class="control-label">Disponibilidad</label>
                                        <input type="hidden" th:field="${form.disponible}"/>
                                        <span th:if="${form.disponible}" class="label label-success areacomun-disponibilidad">Disponible</span>
                                        <span th:if="${not form.disponible}" class="label label-danger areacomun-disponiblidad">No Disponible</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12 col-xs-12">
                                        <label class="control-label">Comentario</label>
                                        <textarea th:field="${form.comentario}" class="form-control" rows="5"
                                               type="text" name="comentario"></textarea>
                                    </div>
                                </div>
                            </th:block>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <div class="form-horizontal text-right text-right">
                            <button type="submit" name="cancelar"
                                    class="btn btn-link btn-outline">
                                <span>Cancelar</span>
                            </button>
                            <button id="guardarSolicitud" type="submit" name="registrar"
                                    class="btn btn-success">
                                <span class="fa fa-save"></span>
                                <span>Solicitar</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div layout:fragment="script">
    <script th:src="@{/js/inquilino/solicitudarea.js}" type="application/javascript"></script>
</div>

</body>
</html>