<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default-tecnico">
<head>
    <meta charset="UTF-8"/>
    <title>Saglo - Tecnico - Perfil</title>
</head>
<body>

<div layout:fragment="content">
    <div class="row">
        <form th:action="@{/solicitudes/areacomun#areacomun}" method="post" id="registrarForm">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Perfil<label class="control-label"></label>
                        </h3>
                    </div>

                    <div class="panel-body">
                        <div class="form-vertical" role="form">

                                <h2 class="form-signin-heading">Datos</h2>

                                <div class="form-group ">
                                    <label>Usuario</label>
                                    <input th:value="${tecnico.usuario.username}" type="text" disabled="disabled"  class="form-control" placeholder="Usuario"
                                           autofocus="true"/>
                                </div>

                                <div class="form-group ">
                                    <label>Nombre</label>
                                    <input  th:value="${tecnico.nombre}" type="text" disabled="disabled"  class="form-control" placeholder="Nombre"/>
                                </div>





                                <!--<button class="btn btn-lg btn-primary btn-block" type="submit">Registrar</button>-->
                        </div>
                    </div>
                    <div class="panel-footer">
                        <div class="form-horizontal text-right text-right">

                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div layout:fragment="script">
    <script th:src="@{/js/tecnico/perfil.js}" type="application/javascript"></script>
</div>

</body>
</html>