<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>


<div class="container">

    <div class="starter-template">
        <h1>403 - No tiene Acceso</h1>
        <h2 >Hola, No tienes permiso para ver esta sección.</h2>


        <div>
            <p>
                <a class="btn btn-secondary btn-large" href="/login">Volver al Inicio</a>
            </p>
            <p>
                <a class="btn btn-secondary btn-large" href="/acerca">Sobre SAGLO</a>
            </p>


        </div>
    </div>

</div>
</body>
</html>