<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Saglo</title>
    <link type="text/css" rel="stylesheet" href="/webjars/bootstrap/3.3.7/css/bootstrap.css" />
    <link href="/static/css/main.css"/>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron">
                <h2>
                    SAGLO
                </h2>
                <p>
                    Sistema de Administracion y Gestion de Locales.
                </p>
                <p>
                    <a class="btn btn-secondary btn-large" href="#">Sobre SAGLO</a>
                </p>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron">
                <h2>
                    SAGLO
                </h2>
                <p>
                    Sistema de Administracion y Gestion de Locales.
                </p>
                <p>
                    <a class="btn btn-secondary btn-large" href="#">Sobre SAGLO</a>
                </p>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12">
            <div class="d">
                <div class="copyright">
                    &copy; 2016 <a href="javascript:void(0);">Saglo</a>
                </div>
                <div class="version">
                    <b>Versión: </b> 0.1
                </div>
                <div class="autores">
                    <ul>
                        <li>Richard Jimenez</li>
                        <li>Elisabeth Capellan</li>
                        <li>Wilson Campusano</li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>
</body>
</html>