<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Saglo</title>
    <link type="text/css" rel="stylesheet" href="/webjars/bootstrap/3.3.7/css/bootstrap.css" />
    <link href="/static/css/main.css"/>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron">
                <h2>
                    SAGLO
                </h2>
                <p>
                    Sistema de Administración y Gestión de Locales.
                </p>
                <p>
                    <a class="btn btn-secondary btn-large" href="/login">Login</a>
                </p>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron">

                <p>
                    Es una herramienta que le permite de forma sencilla, segura y confiable mantener y solucionar todas las incidencias de casos
                    en los locales de su empresa que requieren de una respuesta rápida y eficaz.
                </p>
                <p>
                  SAGLO lo conectara con sus inquilinos y lo guiará a solucionar problemas como daños a la estructura física a los locale,
                    averías en los servicios de agua, luz, gas; gestionar la solución y ordenar los permisos a las áreas comunes (piscinas, canchas, áreas recreativas),
                    conocer las incidencias que afectan a su negocio.
                </p>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12">
            <div class="d">
                <div class="copyright">
                    &copy; 2016 - 2018 <a href="javascript:void(0);">Saglo</a>
                </div>
                <div class="version">
                    <b>Versión: </b> 1.0
                </div>
                <div class="autores">
                    <ul>
                        <li>Richard Jimenez / CH-8621</li>
                        <li>Elisabeth Capellan / BF-8501</li>
                        <li>Wilson Campusano / DB-5576</li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>
</body>
</html>