<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default-tecnico">
<head>
    <meta charset="UTF-8"/>
    <title>Saglo - Tecnico - Gestionar</title>
</head>
<body>

<div layout:fragment="content">
    <div th:replace="alerta :: alert (mensaje=${mensaje})">...</div>
    <div class="row" >
        <form th:action="@{/tecnico/averias/averias/}"
              th:object="${averia}"
              method="post" id="registrarForm">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Solicitud Averia <label class="control-label"></label>
                        </h3>
                        <input type="hidden" th:field="${averia.id}"/>
                    </div>

                    <div class="panel-body">
                        <div class="form-horizontal" role="form" id="solicitudAreaFragment">
                            <div class="form-group">
                                <div class="col-md-4 col-xs-12">
                                    <label class="control-label">Inquilino</label>
                                    <p th:text="${averia.inquilinoNombre}">Piscina</p>
                                </div>
                                <div class="col-md-4 col-xs-12">
                                    <label class="control-label">Mobiliario</label>
                                    <p th:text="${averia.mobiliarioDescripcion}">10/12/2018</p>

                                </div>
                                <div class="col-md-4 col-xs-12">
                                    <label class="control-label">Fecha Solicitud</label>
                                    <p th:text="${averia.fechaSolicitud}">Juan Perez</p>

                                </div>

                            </div>

                            <div class="form-group">
                                <div class="col-md-4 col-xs-12">
                                    <label class="control-label">Ubicacion</label>
                                    <p th:text="${averia.ubicacion}">Piscina</p>
                                </div>
                                <div class="col-md-4 col-xs-12">
                                    <label class="control-label">Tipo de Averia</label>
                                    <p th:text="${averia.tipoAveria}">10/12/2018</p>

                                </div>
                                <div class="col-md-4 col-xs-12">
                                    <label class="control-label">Tipo de Incidente</label>
                                    <p th:text="${averia.tipoIncidente}">Juan Perez</p>

                                </div>

                            </div>
                            <div class="form-group">
                                <div class="col-md-6 col-xs-6">
                                    <label class="control-label">Comentario del Inquilino</label>
                                        <textarea th:text="${averia.descripcion}"  disabled="disabled" class="form-control" rows="5"
                                                  type="text" name="descripcion"></textarea>
                                </div>
                                <div class="col-md-6 col-xs-6">
                                    <label class="control-label">Comentario</label>
                                        <textarea th:text="${averia.comentario}"  class="form-control" rows="5"
                                                  type="text" name="comentario"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel-heading">
                        <h3 class="panel-title">Estado Averia <label class="control-label"></label>
                        </h3>
                    </div>

                    <div class="panel-body">
                        <div class="form-horizontal" role="form" >
                            <div class="form-group">
                                <div class="col-md-6 col-xs-12">
                                    <label class="control-label">Gestionar</label>

                                    <select th:field="${averia.estado}"  class="form-control">
                                        <option value="0" >Seleccione</option>
                                        <option th:each="estado : ${estados}"
                                                th:value="${estado.key}"
                                                th:text="${estado.value}">Opcion</option>
                                    </select>
                                </div>

                            </div>

                        </div>

                    </div>

                    <div class="panel-footer">
                        <div class="form-horizontal text-right text-right">
                            <button type="reset" name="cancelar"
                                    class="btn btn-link">
                                <span>Cancelar</span>
                            </button>
                            <button id="aprobarSolicitud" type="submit" name="asignar"
                                    class="btn btn-success">
                                <span class="fa fa-save"></span>
                                <span>Guardar</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div layout:fragment="script">
    <script th:src="@{/js/tecnico/averias.js}" type="application/javascript"></script>
</div>

</body>
</html>