<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default-tecnico">
<head>
    <meta charset="UTF-8"/>
    <title>Saglo - Tecnico - Averias</title>
</head>
<body>

<div layout:fragment="content">
    <div class="row">
        <form method="post" id="registrarForm">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Averias asignadas<label class="control-label"></label>
                        </h3>
                    </div>

                    <div class="panel-body">
                        <div class="form-horizontal" role="form">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Fecha Solicitud</th>
                                        <th>Estatus</th>
                                        <th>Acción</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="averia : ${averias}">
                                        <td th:text="${averia.id}">1</td>
                                        <td th:text="${averia.fechaSolicitud}">1</td>
                                        <td th:text="${averia.estatus}">Resuelto</td>
                                        <td>
                                            <a th:if="${averia.estatus != 'APROBADA'}" th:href="@{/tecnico/averias/gestionar(averiaId=${averia.id})}">Gestionar</a>
                                            <a th:if="${averia.estatus == 'APROBADA'}" href="#"> - </a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <div class="form-horizontal text-right text-right">

                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div layout:fragment="script">
    <script th:src="@{/js/tecnico/averias.js}" type="application/javascript"></script>
</div>
</body>
</html>