<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default-admin">
<head>
    <meta charset="UTF-8"/>
    <title>Saglo - Admin - Pago</title>
</head>
<body>

<div layout:fragment="content">
    <div th:replace="alerta :: alert (mensaje=${mensaje})">...</div>
    <div class="row" >
        <form th:action="@{/admin/locales/averias/asignar}"
              th:object="${form}"
              method="post" id="registrarForm">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Registrar Pago<label class="control-label"></label>
                        </h3>
                    </div>

                    <div class="panel-body">
                        <div class="form-vertical" role="form" id="solicitudAreaFragment">
                            <div class="form-group">

                                <div class="col-md-6 col-xs-6">
                                    <label class="control-label">Inquilino</label>

                                    <select  id="selectTipoTecnico"
                                          required="required" th:field="${form.inquilinoId}">
                                        <option value="">Seleccione</option>
                                        <option th:each="inquilinoDto : ${inquilinosDto}"
                                                th:text="${inquilinoDto.inquilinoNombre + ' Mobiliario : ' + inquilinoDto.inquilinoMobiliario}"
                                                th:value="${inquilinoDto.inquilinoId}"></option>
                                    </select>
                                </div>

                                <div class="col-md-6 col-xs-6">
                                    <label class="control-label">Fecha Pago</label>
                                    <input type="text" class="form-control fechas" th:field="${form.fechaPago}" />

                                </div>

                            </div>

                            <div class="form-group">
                                <div class="col-md-4 col-xs-12">
                                    <label class="control-label">Monto</label>
                                    <input type="text" class="form-control" th:field="${form.monto}"/>
                                </div>

                            </div>
                            <div class="form-group">
                                <div class="col-md-12 col-xs-12">
                                    <label class="control-label">Comentario</label>
                                     <textarea th:text="${form.comentario}"   class="form-control" rows="5"
                                                  type="text" name="comentario"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel-footer">
                        <div class="form-horizontal text-right text-right">
                            <button type="reset" name="cancelar"
                                    class="btn btn-link">
                                <span>Cancelar</span>
                            </button>
                            <button id="aprobarSolicitud" type="submit" name="asignar"
                                    class="btn btn-success">
                                <span class="fa fa-save"></span>
                                <span>Registrar Pago</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div layout:fragment="script">
    <script th:src="@{/js/admin/registrarpago.js}" type="application/javascript"></script>
</div>

</body>
</html>